nav
    ul.nav
        li.nav__item
            a(href="index.html").nav__link INICIO
//        li.nav__item
//            a(href="fifo.html").nav__link FIFO
//        li.nav__item
//            a(href="sstf.html").nav__link SSTF
//        li.nav__item
//            a(href="scan.html").nav__link SCAN
//        li.nav__item
//            a(href="c-scan.html").nav__link C-SCAN
//        li.nav__item
//            a(href="robin.html").nav__link ROUND ROBIN