<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    block title
        title Document
        
    block styles
        link(rel="stylesheet", href="./css/main.css")
        link(href='https://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
body
    block content


    block scripts
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")